
//@theme "/home/ridwanfrzq/.local/share/rofi/themes/rounded-gray-dark.rasi"

//@theme "/home/ridwanfrzq/.local/share/rofi/themes/matugen.rasi"

@theme "/home/ridwanfrzq/.local/share/rofi/themes/rounded-gray-dark.rasi"
