*.bak
config/hypr/colors/matugen.conf
config/kitty/themes/matugen.conf
config/swaync/colors/matugen.css
config/swayosd/colors/matugen.css
config/kitty/current-theme.conf
config/waybar/colors.css
config/rofi/colors/matugen.rasi
