@import url("colors.css");

/* -- Global rules -- */
* {
  border: none;
  font-family: "FiraCode Nerd Font";
  font-size: 15px;
  /*font-weight: bold;*/
  min-height: 0px;
}

window#waybar {
  all: unset;
  background: alpha(@background, 0.8);
}

window#waybar.hidden {
  opacity: 0;
}

/* - General rules for visible modules -- */
#left1,
#right1 {
  color: @on_background;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

/* -- Specific styles -- */

/* Modules left */

#left1 {
  margin-left: 7px;
}

#custom-ws {
  margin: 0;
  padding: 0;
  margin-left: 7px;
}

#clock {
  font-family: "SF Pro";
  font-weight: bold;
}

#workspaces {
  padding: 0;
  margin: 0;
}

#workspaces button {
  font-family: "SF Pro";
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: @on_background;
}

/* Modules right */

#right1 {
  margin-right: 7px;
}

#tray {
  color: rgb(235, 235, 235);
  padding-right: 12px;
}

#tray menu {
  background-color: rgba(0, 0, 0, 0.7);
}

#audio {
  padding-left: 2px;
  padding-right: 15px;
}

#brightness {
  padding-right: 17px;
}

#pulseaudio,
#backlight {
  padding-right: 2px;
}

#pulseaudio.volume,
#backlight.percent {
  padding-left: 10px;
}

#pulseaudio-slider,
#backlight-slider {
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background: #a1bdce;
  background-color: transparent;
  box-shadow: none;
  margin-right: 7px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-width: 90px;
  min-height: 10px;
  border-radius: 8px;
  background: #343434;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background: @primary;
}

#network {
  padding-top: 1px;
  padding-right: 13px;
}

#battery {
  padding-right: 13px;
}

#battery.warning {
  color: rgb(200, 200, 0);
}

#battery.charging {
  color: @on_background;
  padding-top: 1px;
  padding-right: 7px;
}

#battery.charging.warning {
  color: @on_background;
}

#battery.critical {
  color: rgb(225, 0, 0);
}

#battery.charging.critical {
  color: @on_background;
}

#custom-notification {
  padding-right: 8px;
}

tooltip {
  background: alpha(@background, 0.6);
}

tooltip label {
  color: @on_background;
}
